# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [1]:
import numpy as np
import pandas as pd

### Creating a Series

You can convert a list,numpy array, or dictionary to a Series:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

** Using Lists**

In [6]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

**Numpy array**

In [10]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

**Dictionary**

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(data=arr,index=d)

a    10
b    20
c    30
dtype: int32

In [15]:
pd.Series(data=d,index=arr)  # in this case the keys in dictionary not to be shows as data

10   NaN
20   NaN
30   NaN
dtype: float64

**Data in Series**

A Pandas Series can hold a varriety of object types

In [17]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [18]:
# Even functions (although unlikely that you will use this)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

## Using an Index

The key to using a Series is understanding its index. Pandas makes use of these index names or numbers by allowing for fast look ups of information (works like a hash table or dictionary).

Let's see some examples of how to grab information from a Series. Let us create two sereis, ser1 and ser2:

In [28]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan'])

In [29]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [30]:
ser2 = pd.Series([5,6,7,8],index = ['USA', 'Germany','Italy', 'Japan'])

In [31]:
ser2

USA        5
Germany    6
Italy      7
Japan      8
dtype: int64

In [32]:
ser1['USA']

1

In [33]:
ser2['USA']

5

Operations are then also done based off of index:

In [34]:
ser1 + ser2

Germany     8.0
Italy       NaN
Japan      12.0
USA         6.0
USSR        NaN
dtype: float64